/* ============================
              Navbar
   ============================ */

.code-line-logo {
  color: var(--vitra-color-accent, greenyellow);
  position: relative;
  padding-left: 1em; /* Espacio para que no se sobreponga*/
  font-family: "Roboto Mono", monospace;
}

.code-line-logo::before {
  content: ">";
  position: absolute;
  left: 0;
  animation: blink 2.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.vitra-navbar-link,
.vitra-drawer-link {
  position: relative;
}

.vitra-navbar-link::after,
.vitra-drawer-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4.5px;
  width: 0;
  height: 2.5px;
  background: var(--vitra-color-accent);
  transition: width 0.3s ease;
  box-shadow: 0 0 10px hsl(var(--vitra-color-accent-h) var(--vitra-color-accent-s) var(--vitra-color-accent-l) / 100%),
    0 0 20px hsl(var(--vitra-color-accent-h) var(--vitra-color-accent-s) var(--vitra-color-accent-l) / 100%),
    0 0 30px hsl(var(--vitra-color-accent-h) var(--vitra-color-accent-s) var(--vitra-color-accent-l) / 50%),
    0 0 40px hsl(var(--vitra-color-accent-h) var(--vitra-color-accent-s) var(--vitra-color-accent-l) / 50%),
    0 0 50px hsl(var(--vitra-color-accent-h) var(--vitra-color-accent-s) var(--vitra-color-accent-l) / 100%);
}

.vitra-navbar-link:hover::after,
.vitra-navbar-link:focus::after,
.vitra-drawer-link:hover::after,
.vitra-drawer-link:focus::after,
.vitra-navbar-link.is-active::after,
.vitra-drawer-link.is-active::after {
  width: 100%;
}

.vitra-navbar-link.is-active,
.vitra-drawer-link.is-active {
  color: var(--vitra-color-accent);
  font-weight: 600;
}

.vitra-navbar-links {
  gap: var(--vitra-space-5, 2rem) !important;
}
